*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* heading section starts */

.head{
    width: 100%;
    height: 100vh;
    background-color:rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head-heading{
    font-size: 80px;
    font-family: Lato;
    font-weight: 800;
    color: #272727;
    padding-bottom: 20px;
}
.head-text{
    padding: 17px 92px 65px 100px;
 
}

.head-description{

    font-size: 20px;
    font-family: Lato;
    color: rgb(28, 18, 18);
    font-weight: 500;
    padding-bottom: 20px;
   
}
.btn{
    padding: 20px 40px;
    background-color: #E55473;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;

}

.head-img{
    padding: 75px 80px 0 100px;
}
.head-img img{
    width: 500px;
    height: 90vh;
   
}

/* heading section ends */

/* features section starts */
.features{
    height: 100vh;
}

.features-heading{

    font-size: 42px;
    text-align: center;
    font-family: Lato;
    font-weight: 800;
    color: #272727;
    padding-top: 80px;
   
}
.features-description{
    font-size: 18px;
    color: rgb(70, 60, 60);
    font-family: Lato;
    font-weight: 400;
    text-align: center;
    width: 550px;
    margin: auto;
    padding-top: 10px;
}

.features-box{
    width: 300px;
    height: 350px;
    background-color: #f0b0be;
    border-radius: 300px 300px 0px 0px;
}
.fa2{
    background-color: rgb(155, 229, 201);
}

.fa3{
    background-color: rgb(191, 255, 191);
}

.img-1{
    width: 250px;
    height: 350px;
    padding-top: 80px;
    padding-left: 40px;
}

.flower-container{
    display: flex;
    gap: 30px;
    padding-top: 50px;
    justify-content: center;
   
}
.features-caption{
    padding-top: 12px;
    font-size: 20px;
    text-align: center;
    color: #272727;
}
/* features section ends */

/* my section starts */
.gift{
    width: 960px;
    height: 40vh;
    /* background-color: #ab2f46; */
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url("../Flower Asset/flower.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 8px;
   
}
.gift-text{
    text-align: center;
    color: #fff;
    padding: 40px;
}
.gift-heading{
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 5px;
}
.gift-description{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 5px;
}

.gift-comp{
    font-size: 20px;
    width: 800px;
    padding-bottom: 10px;
}
.gift-btn{
    padding: 8px 30px;
    background-color: transparent;
    border: 2px solid #E55473 ;
}

.gift-btn:hover{
    background-color: #E55473;
    color: #fff;
}
/* hot-deal section starts */
.hot-deal{
    margin-top: 70px;
    width: 100%;
    height: 50vh;
    background-color: #e7d2d6;
    display: flex;
    justify-content: space-around;

}
.hot-deal-text{
    padding: 100px 100px 50px 150px;
}
.hot-deal-off{
    color: #E55473;
}

.hot-deal-head{
    padding-left: 30px;
    font-size: 40px;
    font-family: Lato;
    font-weight: 800;
    padding-bottom: 10px;
}
.hot-deal-description{
    font-size: 22px;
    text-align: center;
    padding-right: 15px;
    color:  rgb(70, 60, 60);
    font-family: Lato;
    width: 600px;
}
.hot-deal-btn{
    margin-left: 220px;
    margin-top: 20px;
}
.hot-deal-image{
    padding-right: 250px;
}
.hot-deal-image img{
    height: 300px;
    padding-top: 60px;
}
/* hot-deal section ends */

/* instagram section starts */
.instagram{
    width: 960px;
    height: 80vh;
    /* background-color: #ab2f46; */
    margin: auto;
}
.insa-text{
    text-align: center;
}
.insta-head{
    font-size: 38px;
    color: #272727;
    font-family: Lato;
    font-weight: 800;
    padding-top: 50px;
}

.insta-description{
    font-size: 18px;
    color: rgb(70, 60, 60) ;
    font-family: Lato;
    padding-top: 10px;
    font-weight: 400;
    width: 500px;
    margin: auto;
    /* padding-bottom: 50px; */
}
.insta-container{
    margin-top: 50px;
    width: 960px;
    height: 35vh;
    /* background-color: #272727; */
    display: flex;
    gap: 30px;
}
.flower-box{
    /* margin-top: -50px; */
    width: 220px;
    height: 250px;
    /* background-color: #E55473; */
}
.flower-img{
   height: 250px;
}



/* instagram section ends */

/* deal section starts */
.deals{
    margin:auto;
    width: 960px;
    height: 60vh;
}

.deals-container{
    /* margin-top: 50px; */
    margin:auto;
    width: 960px;
    height: 40vh;
    /* background-color: #E55473; */
    background-image: url("../Flower Asset/Rectangle 9.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;

}
.deal-text{
    text-align: center;
    padding-top: 50px;
}
.deal-heading{
    font-size: 40px;
    color: #272727;
    font-family: Lato;
    font-weight: 800;
    padding-bottom: 10px;
}

.deal-description{
    font-size: 18px;
    color: rgb(70, 60, 60) ;
    font-family: Lato;
}
input{
    width: 60%;
}
#form-email{
    padding: 20px;
    border: 2px solid #E55473;
    border-radius: 8px;
}

.form{
    display: flex;
    gap: 10px;
    padding: 20px 10px 121px 200px;
}
.form a{
    text-decoration: none;
}
/* deal section ends */

/* footer section starts */

.footer{
    width: 100%;
    height: 50vh;
    background-color: black;
    color: #fff;
    text-align: center;
    padding-top: 80px;
}

.footer-head{
    font-size: 42px;
    color: #fff;
    font-family: Lato;
    font-weight: 800;
    padding-bottom: 20px;
   
}
.footer-flower{
    color: #E55473;
}

.footer-description{
    font-size: 18px;
    color: rgb(222, 212, 212) ;
    font-family: Lato;
    width: 500px;
    margin: auto;
    padding-bottom: 20px;
}

.copyright{
    color: #937575;
}